/* general fields */
.custom-metadata-field {
	margin-bottom: 15px
}
.inside > .custom-metadata-field:first-child {
	margin-top: 20px
}
.custom-metadata-field > label {
	display: block;
	font-size: 13px;
	line-height: 18px;
	font-weight: bold;
	margin: 5px 0;
}
.custom-metadata-field .description {
	display: block;
	font-size: 11px;
	margin-top: 3px;
}
.custom-metadata-field > div > label {
	display: block;
	margin: 5px 0;
}
.custom-metadata-field .error {
	color: red;
	font-style: italic;
}
.custom-metadata-field .del-multiple {
	color: red;
}
.custom-metadata-field input ~ .del-multiple {
	margin-left: 5px;
}

/* text fields */
.custom-metadata-field input[type="text"],
.custom-metadata-field input[type="url"],
.custom-metadata-field input[type="password"],
.custom-metadata-field input[type="email"] {
	width: 65%;
	margin: 3px 0;
}

/* number fields */
.custom-metadata-field input[type="number"] {
	width: 65px;
}

/* radio fields */
.custom-metadata-field > div > label > input[type="radio"] {
	margin-right: 5px;
}

/* checkbox fields */
.custom-metadata-field.checkbox {
	background: transparent;
}

.custom-metadata-field input[type="checkbox"] {
	margin-right: 5px;
}

/* upload fields */
.custom-metadata-field input.upload_field {
	width: 60%;
}

/* datepicker fields */
.custom-metadata-field.datepicker input {
	width: 200px
}

/* textarea fields */
.custom-metadata-field textarea {
	width: 99%;
	height: 4em;
	margin-top: 5px;
}
.custom-metadata-field textarea[readonly="readonly"] {
	background-color: #eee;
}

/* wysiwyg fields */
.custom-metadata-field.wysiwyg > label,
.user-metadata-group .custom-metadata-field.wysiwyg > label {
	display: block;
	width: 100%;
	float: none;
}
.custom-metadata-field.wysiwyg .wp-editor-container {
	background: #fff
}

/* upload fields */
.custom-metadata-field.upload input[type="button"] {
	margin-left: 10px;
}

/* user fields */
.user-metadata-group .custom-metadata-field > label {
	color: #222;
	display: block;
	text-align: left;
	vertical-align: top;
	width: 200px;
	font-size: 13px;
	line-height: 24px;
	float: left;
}
.user-metadata-group .custom-metadata-field input[type=text],
.user-metadata-group .custom-metadata-field input[type=url],
.user-metadata-group .custom-metadata-field input[type=password],
.user-metadata-group .custom-metadata-field input[type=email] {
	width: 25em;
}
.user-metadata-group .custom-metadata-field textarea {
	width: 25em;
}
.user-metadata-group .custom-metadata-field .description {
	margin-left: 200px;
}

/* select2 fields */
.custom-metadata-field select {
	min-width: 200px;
	max-width: 400px;
}
.custom-metadata-field select[multiple],
.custom-metadata-field .custom-metadata-select2 {
	width: 400px;
}
#wpbody-content {
	overflow: visible !important; /* otherwise the chosen selector gets cut off at the bottom */
}