# Exclude these files from release archives.
# This will also make them unavailable when using Composer with `--prefer-dist`.
# If you develop for this plugin using Composer, use `--prefer-source`.
# https://blog.madewithlove.be/post/gitattributes/

# Directories
/.github/                export-ignore
/.wordpress-org/         export-ignore
/node_modules/           export-ignore
/tests/                  export-ignore
/vendor/                 export-ignore

# Files
/.distignore             export-ignore
/.editorconfig           export-ignore
/.gitattributes          export-ignore
/.gitignore              export-ignore
/.phpcs.xml.dist         export-ignore
/.wp-env.json            export-ignore
/.wp-env.override.json   export-ignore
/CHANGELOG.md            export-ignore
/CONTRIBUTING.md         export-ignore
/DEVELOPERS.md           export-ignore
/composer.json           export-ignore
/composer.lock           export-ignore
/phpunit.xml.dist        export-ignore

# Auto detect text files and perform LF normalization.
# https://pablorsk.medium.com/be-a-git-ninja-the-gitattributes-file-e58c07c9e915

* text=auto

# The above will handle all files NOT found below.

*.md  text
*.php text
*.css text
*.js  text
